@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
  font-family: 'Poppins';         
  margin:0;           
  padding: 0; 

}
.menu{
  position: relative;
  left: 10%;
}
.containerPrincipal{
  display: list-item;
  position: relative;
}
.container{
  border-radius: 6px;
  box-shadow: 2px 5px 10px 2px rgb(0 0 0 / 30%);
}
.menu{
  margin: 2%; 
  column-gap: 5%;
}
.btn-group{
  column-gap: 5%;
  width:50%;
}
.paginacao{
  position: relative;
  height: 40px;
  display: flex;
  column-gap: 5%;
  justify-content: center;
  text-align: center;
}
